<div class="container mx-auto my-2">
    <div class="flex flex-wrap justify-center ">
        <div  class="max-w-sm w-full sm:w-auto p-6">
            <div class="max-w-sm w-full sm:w-auto p-6 bg-white border-2 border-lime-600 rounded-lg shadow m-4 text-center ">
                <h5 class="mb-2 text-gray-900 ">Producto mas vendido</h5>
                <h3 class="mb-2  text-red-700">Clavos 30 unidades</h3>
            </div>
            <div class="max-w-sm w-full sm:w-auto p-6 bg-white border-2 border-lime-600 rounded-lg shadow m-4 text-center ">
                <h1 class="mb-2 text-gray-900 ">Ventas de hoy</h1>
                <h3 class="mb-2  text-green-400">$000.00</h3>
            </div>
        </div>

        <div class="max-w-sm w-full sm:w-auto p-6">
            <div class="max-w-sm w-full sm:w-auto p-6 bg-white border-2 border-lime-600 rounded-lg shadow m-4 text-center ">
                <h5 class="mb-2 text-gray-900 ">Ventas de la semana</h5>
                <h3 class="mb-2  text-green-400">$000.00</h3>
            </div>
            <div class="max-w-sm w-full sm:w-auto p-6 bg-white border-2 border-lime-600 rounded-lg shadow m-4 text-center ">
                <h5 class="mb-2 text-gray-900 ">Producto mas vendido</h5>
                <h3 class="mb-2  text-red-700">Clavos 30 unidades</h3>
            </div>
        </div>

    </div>
</div>